<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="dbApiTurnero" connectionString="Data Source=DESKTOP-JVFV5VF\SQLEXPRESS01;Initial Catalog=api_db_turnero;Integrated Security=True;Trust Server Certificate=True" />
        <add name="api_turnero.Properties.Settings.dbApiTurnero" connectionString="Data Source=DESKTOP-JVFV5VF\SQLEXPRESS01=api_db_turnero;Integrated Security=True;Trust Server Certificate=True" />
    </connectionStrings>
</configuration>