<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="dbApiTurnero" connectionString="Data Source=NO-PROBLEM\SQLEXPRESS;Initial Catalog=api_db_turnero;Integrated Security=True;Trust Server Certificate=True" />
        <add name="api_turnero.Properties.Settings.dbApiTurnero" connectionString="Data Source=NO-PROBLEM\SQLEXPRESS=api_db_turnero;Integrated Security=True;Trust Server Certificate=True" />
    </connectionStrings>
</configuration>